.headerWrapper {
  background-color: #c29b70;
  height: 124px;
  padding: 16px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftHeaderItems {
  font-family: "PT Serif", sans-serif;
  font-size: 48px;
  display: flex;
  gap: 48px;
  align-items: center;
  font-weight: 700;
  color: #4B3608;
}

.rightHeaderItems {
  display: flex;
  gap: 48px;
  align-items: center;
}

.rightHeaderItem {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  color: black;
}

.rightHeaderItem:hover {
  color: #ECDFC3;
}

.profileButton {
  width: 70px;
  height: 70px;
}
