.openedDropDownMenuWrapper{
    position: absolute;
    min-width: 100%;
    max-width: 40vh;
    margin-top: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #f6efe1;
    border-radius: 10px;
    border: 2px solid #4B3608;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    pointer-events: all;
}

.openedDropDownMenuWrapper::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.closedDropDownMenuWrapper{
    position: absolute;
    opacity: 0;
}

.closedDropDownMenuWrapper::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}