.sectionContainer {
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    height: 342px;
    gap: 24px;
}

.sectionText {
    font-weight: 400;
    font-size: 32px;
    color: rgba(0, 0, 0, .5);
}