.sectionTitle{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.allLink {
    display: flex;
    justify-content: end;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.label {
    color: black;
}

.label:hover {
    text-decoration: underline;
}

.bookContainerWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    font-size: 16px;
}

.emptyStyle{
    background-color: transparent;
}

