.tooltipContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(168, 8, 8, 0.5);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;
}

.tooltipContainer.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
