.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(75, 54, 8, 1);
    transition: color 0.2s ease;

}

.buttonWrapper:hover {
    color: #c29b70;
}

.buttonImage {
    background-image: url('../../../public/imges/Plus.png');
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
}

.buttonWrapper:hover .buttonImage {
    background-image: url('../../../public/imges/Plus_light.png');
}